img.imagemProdutosPages
{
    width: 300px;
    transition: 0.2s;
    border: 3px solid grey;
    margin: 2px;
}

img.imagemProdutosPages:hover
{
    transform: scale(1.2);
}

div.produtos1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}



button.voltar
{
    background-color: transparent;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}

button.voltar:hover
{
    background-color: grey;
    color: white;
}

div.preco
{
    text-align: center;
}